MLFLOW_S3_ENDPOINT_URL=https://<your-s3-endpoint>
AWS_ACCESS_KEY_ID=<your-access-key>
AWS_SECRET_ACCESS_KEY=<your-secret-key>
AWS_DEFAULT_REGION=<your-region>
DB_URI=postgresql+psycopg2://<user>:<password>@<host>:<port>/<database>
ARTIFACT_ROOT=s3://<your-bucket>/mlflow/
MLFLOW_TRACKING_URI=http://127.0.0.1:5000
