MAIN_APP_PORT=1702
MAIN_APP_PORT_VM=4648
MODEL_PATH=services/models/model.pkl
LOG_LEVEL=INFO
PROMETHEUS_PORT=9090
PROMETHEUS_PORT_VM=9090
GRAFANA_PORT=3000
GRAFANA_PORT_VM=3000
GRAFANA_USER=admin
GRAFANA_PASS=<change-me>
