fastapi==0.111.0
pydantic==2.7.4
uvicorn[standard]==0.30.1

numpy==1.26.4
pandas==2.2.2

scikit-learn==1.6.0
joblib==1.3.2
catboost==1.2.7

prometheus-client==0.20.0
prometheus-fastapi-instrumentator==7.0.0

python-dotenv==1.0.1
